# Proyecto Final

### Integrantes:
* Daniel Cifuentes
* Andrea Rivas

In [1]:
# Librerias
import numpy as np
import pandas as pd
# Extra
from sklearn.model_selection import train_test_split

In [2]:
data = pd.DataFrame(np.load('./data/proyecto_training_data.npy'))
data

             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
...        ...  ...     ...  ...     ...   ...
1455  175000.0  6.0   953.0  7.0  1999.0  62.0
1456  210000.0  6.0  2073.0  7.0  1978.0  85.0
1457  266500.0  7.0  1188.0  9.0  1941.0  66.0
1458  142125.0  5.0  1078.0  5.0  1950.0  68.0
1459  147500.0  5.0  1256.0  6.0  1965.0  75.0

[1460 rows x 6 columns]

In [3]:
# Separación de train (80%) y test (20%)
train, test = train_test_split(data, test_size = 0.2)

In [4]:
# Resumen 
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168 entries, 1408 to 273
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1168 non-null   float64
 1   1       1168 non-null   float64
 2   2       1168 non-null   float64
 3   3       1168 non-null   float64
 4   4       1168 non-null   float64
 5   5       955 non-null    float64
dtypes: float64(6)
memory usage: 63.9 KB

## 3. Análisis Exploratorio

In [5]:
# Media 
train.mean()

0    180954.320205
1         6.086473
2      1164.490582
3         6.504281
4      1971.159247
5        69.050262
dtype: float64

In [6]:
# Valores máximos
train.max()

0    755000.0
1        10.0
2      4692.0
3        12.0
4      2010.0
5       313.0
dtype: float64

In [7]:
# Valores mínimos
train.min()

0    34900.0
1        1.0
2      334.0
3        2.0
4     1872.0
5       21.0
dtype: float64

In [8]:
# Rango

In [9]:
# Desviación estándar
train.std()

0    80546.776818
1        1.387379
2      385.645085
3        1.645012
4       30.244879
5       22.925309
dtype: float64

## 4. Histogramas

## 5. Análisis de Selección de Variables

In [20]:
# y = β0 + β1 ∗ x
data[0] - data[1]

0       208493.0
1       181494.0
2       223493.0
3       139993.0
4       249992.0
          ...
1455    174994.0
1456    209994.0
1457    266493.0
1458    142120.0
1459    147495.0
Length: 1460, dtype: float64